include ./successForm
include ./policity
footer.footer
  .footer-wrap
    p.footer__EZ EZ Health, 2020 год
    a(href="#").footer__policity Политика конфиденциальности
    nav.footer-nav
      a(href="#howItWork").footer-nav__link Как работает
      a(href="#whyEZ").footer-nav__link Чем поможет
      a(href="#who").footer-nav__link Для кого
      a(href="#howMuch").footer-nav__link Сколько стоит
    a(href="#genForm").header-right__CTA.footer__CTA Связаться