footer.footer
  .footer-wrap
    a(href="#").footer__policity Политика конфиденциальности
    nav.footer-nav
      a(href="#howItWork").footer-nav__link Как работает
      a(href="#whyEZ").footer-nav__link Чем поможет
      a(href="#who").footer-nav__link Для кого
      a(href="#howMuch").footer-nav__link Сколько стоит
    .footer-social
      a(href="#").footer-social__link
        <svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.2 0.425781H9.6C8.0087 0.425781 6.48258 1.05792 5.35736 2.18314C4.23214 3.30836 3.6 4.83448 3.6 6.42578V10.0258H0V14.8258H3.6V24.4258H8.4V14.8258H12L13.2 10.0258H8.4V6.42578C8.4 6.10752 8.52643 5.8023 8.75147 5.57725C8.97651 5.35221 9.28174 5.22578 9.6 5.22578H13.2V0.425781Z" fill="white"/>
        </svg>
