.popup.successForm
  .successForm-content
    h5.successForm-content__title Ваши данные отправлены!
    p.successForm-content__subTitle Спасибо за интерес к проекту! <br>Вы просто чудо :)
    p.successForm-content__text Скоро на почту придет письмо с подтверждением регистрации и ссылкой на личный кабинет.
    button.popup__btn Закрыть