
.centerString{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  position: relative;
  display: flex;
  &:before {
    content: "";
    display: block;
    flex: 1;
    margin-left: -100%;
  }
  &:after {
    content: "";
    flex: 1;
    display: block;
    margin-right: -100%;
  }
}


.firstScreen{
  background-image: url('../images/firstScreen-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 974px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrap{
    width: 100%;
    max-width: 1158px;
    padding: 0 24px;
    display: grid;
    padding-bottom: 100px;
    grid-template-columns: 525px auto;
  }
  &-desc{
    &-top{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    flex: none;
    &__title{
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px;
      color: #6B6B6B;
      span{
        color: #409EF4;
      }
    }
    &__subTitle{
      color: #6B6B6B;
      font-size: 18px;
      line-height: 21px;
      font-weight: normal;
    }
    &__text{
      margin-top: 100px;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 20px;
      color: #6B6B6B;
      span{
        color: #409EF4;
      }
    }
    &-form{
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      input{
        background: #F8F9FC;
        border: 1px solid #409EF4;
        border-radius: 15px;
        width: 351px;
        height: 41px;
        margin-right: 32px;
        color: #6B6B6B;
        padding: 10px 16px;
        transition: .3s;
        &:focus, &:not(:placeholder-shown){
          @media screen and (min-width: 1024px) {
            box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(204, 213, 225, 0.75);
          }
        }
        &::placeholder{
          font-size: 18px;
          line-height: 21px;
          color: #8CBBE6;
        }
      }
      button{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        position: relative;
        z-index: 1;
        color: #fff;
        padding: 10px 16px;
        background: #409EF4;
        box-shadow: -5px -5px 10px #F2F7FB, 5px 5px 15px #ABC6E0;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        border: 1px solid #409EF4;
        transition: .3s;
        &:hover{
          @media screen and (min-width: 1024px) {
            background: #F8F9FC;
            color: #409EF4;
          }
        }
        &:active{
          @media screen and (min-width: 1024px) {
            box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(204, 213, 225, 0.75);
          }
        }
      }
    }
    &__personalData{
      font-size: 14px;
      line-height: 16px;
      color: #464646;
      span{
        color: #409EF4;
        a{ 
          text-decoration: underline;
          &:hover{
            @media screen and (min-width: 1024px) {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &-img{    
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    position: relative;
    &__img{
      margin-top: -60px;
      margin-left: 20px;
      max-width: none;
    }
    &__circles{
      left: 10px;
      bottom: -175px;
      position: absolute;
      z-index: -10;
    }
  }
}

.howItWork{
  padding: 40px 24px 128px;
  position: relative;
  &__circles{
    position: absolute;
    z-index: -1;
    &_first{
      width: 253px;
      height: 253px;
      opacity: 0.3;
      bottom: 100%;
      transform: translateY(30%);
      right: 70%;
    }
    &_second{
      width: 139px;
      height: 139px;
      right: 10%;
      top: 40px;
      opacity: 0.5;
    }
    &_third{
      width: 422px;
      height: 422px;
      top: calc(100% - 132px);
      right: 5%;
      opacity: 0.3;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #464646;
    margin-bottom: 120px;
  }
  &-wrap{
    max-width: 1110px;
    margin: 0 auto;
  }
  &-block{
    display: flex;
    padding-right: 30px;
    align-items: center;
    &:nth-child(2){
      margin-top: -90px;
      justify-content: flex-end;
    }
    &:nth-child(3){
      margin-top: 130px;
    }
    &__text{
      font-size: 20px;
      line-height: 23px;
      color: #409EF4;
      margin-left: 40px;
    }
  }
}

.largeGradient{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 304px 24px 272px;
  position: relative;
  &__circles{
    position: absolute;
    &_first{
      width: 262px;
      height: 262px;
      bottom: 50%;
      left: 3%;
    }
    &_second{
      width: 422px;
      height: 422px;
      right: 10%;
      bottom: -132px;
      opacity: 0.7;
      z-index: -1;
    }
  }
}



.whyEZ{
  position: relative;
  margin-top: 230px;
  overflow: hidden;
  &__title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #464646;
    margin-bottom: 100px;
  }
  &-grid{
    padding-right: 24px;
    margin: 0 auto;
    padding-left: 24px;
    max-width: 1132px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-item{
      &_2{
        .whyEZ-grid-item-imgbox__dop{
          top: -22px;
          left: 49px;
        }
      }
      &_4{
        .whyEZ-grid-item-imgbox__dop{
          top: -10px;
          right: 10px;
        }
      }
      &-imgbox{
        position: relative;
        &__dop{
          position: absolute;

        }
      }
      max-width: 194px;
      &__title{
        margin-top: 40px;
        font-size: 20px;
        line-height: 23px;
        color: #409EF4;
      }
      &__text{
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
        color: #8A8A8A;
      }
      &__title, &__text{
      }
    }
  }
}

.defaultForm{
  &__title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #464646;
    margin-bottom: 56px;
  }
  &-form{
    max-width: 540px;
    margin: 0 auto;
  }
  &__input{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    background: #F8F9FC;
    border: 1px solid #409EF4;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #6B6B6B;
    height: 40px;
    transition: .3s;
    padding: 0 16px;
    &:focus, &:not(:placeholder-shown){
      @media screen and (min-width: 1024px) {
        box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(204, 213, 225, 0.75);
      }
    }
    &::placeholder{
      font-size: inherit;
      line-height: inherit;
      color: #8CBBE6;
    }
  }
  &__btn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #409EF4;
    box-shadow: -5px -5px 10px #F2F7FB, 5px 5px 15px #ABC6E0;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    border: 1px solid #409EF4;
    height: 40px;
    transition: .3s;
    cursor: pointer;
    &:hover, &:active{
      @media screen and (min-width: 1024px){
        background: #F8F9FC;
        color: #409EF4;
        box-shadow: none;
      }
    }
    &:active{
      @media screen and (min-width: 1024px) {
        box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(204, 213, 225, 0.75);
      }
    }
  }
  &__policity{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-top: 16px;
    a{
      color: #409EF4;
      text-decoration: underline;
      &:hover{
        @media screen and (min-width: 1024px){
          text-decoration: none;
        }
      }
    }
  }
}

.who{
  padding: 52px 24px;
  &__title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #464646;
    text-align: center;
    margin-bottom: 40px;
  }
  &-grid{
    max-width: 1320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto;
  }
  &-block{
    &-imgbox{
      margin: -40px 0;
    }
    &-desc{
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      justify-content: center;
      &__title{
        font-size: 20px;
        line-height: 23px;
        color: #409EF4;
        white-space: nowrap;
      }
      &__text{
        font-size: 16px;
        line-height: 19px;
        color: #8A8A8A;
        margin-top: 16px;
        white-space: nowrap;
      }
    }
  }
}


.howMuch{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 24px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    margin-top: 208px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #464646;
    margin-bottom: 80px;
  }
  &__text{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #464646;
    span{
      color: #409EF4;
    }
  }
  img{
    margin-top: -186px;
  }
}

.soloForm{
  margin-top: 130px;
  padding: 0 24px;
  margin-bottom: 180px;
  .defaultForm__title{
    margin-bottom: 16px;
  }
  .defaultForm__subtitle{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(70, 70, 70, 0.5);
  }
}


.team{
  margin-top: 180px;
  padding: 0 24px;
  position: relative;
  margin-bottom: 148px;
  &__circles{
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    &:nth-child(1){
      width: 335px;
      height: 335px;
      right: 70%;
      top: -72px;
    } 
    &:nth-child(2){
      width: 335px;
      height: 335px;
      bottom: -64px;
      right: 10%;
    } 
  }
  &__title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #464646;
    text-align: center;
    margin-bottom: 80px;
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100% + 40px);
    margin: -40px;
    &-outer{
      display: flex;
      justify-content: center;
      max-width: 760px;
      margin: 0 auto;
    }
  }
  &-item{
    margin: 40px;
    width: calc(100% / 3 - 80px);
    &__img{
      width: 160px;
      margin: 0 auto;
      height: 160px;
      position: relative;
      span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 16px;
        border-radius: 50%;
        display: block;
        z-index: -1;
      }
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__name{
      margin-top: 40px;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #409EF4;
    }
    &__role{
      margin-top: 16px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #8A8A8A;
    }
  }
}

label{
  position: relative;
  display: block;
  .error{
    position: absolute;
    bottom: 100%;
    left: 0;
    font-size: 13px;
    line-height: 15px;
    color: #FC8D8D;
    opacity: 0;
    transition: .2s;
  }
}

.inp-err{
  border-color: #FC8D8D;
  & + .error{
    opacity: 1;
  }
}


@media screen and (max-width: 1200px){
  .centerString{
    justify-content: center;
  }
  .centerString:before, .centerString:after{
    display: none;
  }
}


@media screen and (max-width: 1199px){
  .firstScreen-img__img{
    margin-left: -120px;
  }
}


@media screen and (max-width: 1023px){
  .firstScreen{
    height: 700px;
    &-img__img{
      margin-left: -64px;
    }
    &-desc{
      &__title{
        font-size: 24px;
        line-height: 30px;
      }
      &__subTitle{
        font-size: 16px;
        line-height: 19px;
      }
      &__text{
        margin-top: 64px;
        font-size: 16px;
        line-height: 19px;
      }
    }
    &-wrap{
      grid-template-columns: 380px auto;
      padding-bottom: 40px;
    }
  }
  .howItWork{
    &-block{
      &:nth-child(2){
        margin-top: 32px;
      }
      &:nth-child(3){
        margin-top: 32px;
      }
    }
  }
  .whyEZ{
    &-grid{
      flex-wrap: wrap;
      &-item{
        width: calc(50% - 24px);
        margin: 12px;
        max-width: none;
        &-imgbox{
          max-width: 194px;
          margin: 0 auto;
        }
      }
    }
  }
  .who{
    .empty{
      display: none;
    }
    &-grid{
      grid-template-columns: repeat(2, 1fr);
    }

    &-block{
      &-imgbox{
        margin: 0;
      }
      &-desc{
        &__title{
          white-space: normal;
        }
        &__text{
          white-space: normal;
        }
      }
    }
  }
}


@media screen and (max-width: 767px){
  .firstScreen{
    height: auto;
    display: block;
    padding-top: 134px;
    background-image: url('../images/firstScreen-bg-mob.svg');
    padding-bottom: 180px;
    &-desc{
      &__title{
        line-height: 28px;
      }
      &__subTitle{
        font-size: 14px;
        line-height: 16px;      
        margin-bottom: 16px;  
      }
      &__text{
        text-align: center;
      }
      &-form{
        display: block;
        input{
          width: 100%;
          margin-bottom: 16px;
          margin-right: 0;
        }
        button{
          display: block;
          width: 100%;
        }
      }
      &__personalData{
        font-size: 13px;
        line-height: 15px;
        text-align: center;
      }
    }
    &-wrap{
      display: block;
    }
    &-img{
      &__circles{
        display: none;
      }
      &__img{
        margin: 0 auto;
        max-width: 360px;
        width: 100%;
      }
    }
  }
  .howItWork{
    padding-bottom: 48px;
    &__circles{
      display: none;
    }
    &__title{
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 48px;
    }
    &-block{
      picture, img{
        width: 100px;
        flex-shrink: 0;
      }
      padding: 0;
      &:nth-child(2){
        justify-content: flex-start;
      }
      &:not(:first-child){
        margin-top: 56px !important;
      }
      &__text{
        font-size: 14px;
        margin-left: 32px;
        line-height: 16px;
        br{
          display: none;
        }
      }
    }
  }
  .largeGradient{
    background-image: url('../images/largeGradient-mob.svg') !important;
    padding: 128px 24px 152px;
    &__circles{
      display: none;
    }
  }
  .defaultForm{
    &__title{
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 32px;
    }
    &__policity a{
      display: block;
    }
  }
  .whyEZ{
    margin-top: 80px;
    &__title{
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 48px;
    }
    &-grid{
      &-item{
        width: 100%;
        margin: 0;
        &:not(:last-child){
          margin-bottom: 72px;
        }
        &__title{
          font-size: 18px;
        }
        &__text{
          margin-top: 8px;
        }
      }
    }
  }

  .who{
    padding: 0 24px 56px;
    &__title{
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 80px;
    }
    &-grid{
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    &-block{
      &-imgbox{
        &:not(:first-child){
          margin-top: 80px;
        }
      }
      &-desc{
        padding-left: 0;
        &__title{
          margin-top: 40px;
          font-size: 18px;
          line-height: 21px;
        }
        &__text{
          font-size: 14px;
          line-height: 16px;
        }
      }
      &_1{
        order: 0;
      }
      &_2{
        order: 1;
      }
      &_3{
        order: 2;
      }
      &_4{
        order: 3;
      }
      &_5{
        order: 4;
      }
      &_6{
        order: 5;
      }
    }
  }

  .howMuch{
    overflow: hidden;
    background-image: url('../images/howMuch-bg-mob.svg') !important;
    img{
      min-width: 432px;
      margin-top: -128px;
      max-width: 0;
    }
    &__title{
      margin-top: 104px;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 40px;
    }
    &__text{
      font-size: 14px;
      line-height: 130%;
    }
  }

  .soloForm{
    margin-top: 72px;
    margin-bottom: 80px;
  }

  .team{
    margin-top: 80px;
    margin-bottom: 80px;
    &__title{
      margin-bottom: 56px;
      font-size: 18px;
      line-height: 21px;

    }
    &-wrap{
      margin: 0;
    }
    &-item{
      width: 100%;
      margin: 0 auto;
      &:not(:last-child){
        margin-bottom: 64px;
      }
      &__name{
        font-size: 18px;
        line-height: 21px;
      }
      &__role{
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__circles{
      display: none;
    }
  }
}